.mainContainer {
  width: 90%;
  height: 80%;
  background-color: green;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.authOptionsContainer {
  width: 100%;
  display: flex;
}

.authOptionsContainer > button {
  width: 50%;
}


