@import '../colors.css';

.mainContainer {
  width: 90%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.authOptionsContainer {
  width: 100%;
  display: flex;
}

.authOptionsContainer > button {
  width: 50%;
}
