.mainContainer {
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: #181a1b;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.mainContainer > button {
  text-align: center;
  background-color: rgb(220, 250, 255);
  color: var(--grey);
  padding: 8px;
  border: 1px solid var(--blue);
  border-radius: 8px;
}
